<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="html_head (pageTitle)">
  <meta charset="UTF-8">
  <title th:text="${pageTitle}">PatientService</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/headers.css" rel="stylesheet">
</head>

<footer th:fragment="footer" class="border-top footer text-muted">
  <div class="container">
    &copy; 2021 - PatientService - <a th:href="@{/contact}">Kontakt</a>
  </div>
</footer>

<header th:fragment="header" class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/}" class="nav-link px-2 link-secondary">Strona Główna</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/patient/konsultacja}" class="nav-link px-2 link-dark">Umów się na konsultację</a></li>
        <li sec:authorize="hasRole('LEKARZ')"><a th:href="@{/lekarz/konsultacje}" class="nav-link px-2 link-dark">Rezerwowane konsultacje</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/dodaj}" class="nav-link px-2 link-dark">Dodaj lekarzy</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Nasza przychodnia</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown">
            <li><a class="dropdown-item" th:href="@{/lekarze}">Lekarze</a></li>
            <li><a class="dropdown-item" th:href="@{/telefony}">Spis telefonów</a></li>
            <li><a class="dropdown-item" th:href="@{/laboratorium}">Laboratorium</a></li>
          </ul>
        </li>
        <li><a th:href="@{/contact}" class="nav-link px-2 link-dark">Kontakt</a></li>

      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Szukaj..." aria-label="Search">
      </form>

      <div sec:authorize="isAnonymous()">
        <a class="btn btn-success" th:href="@{/login}">Zaloguj się</a>
        <a class="btn btn-primary" th:href="@{/register}">Zarejestruj się</a>
      </div>

      <div class="dropdown text-end" sec:authorize="isAuthenticated()">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill rounded-circle" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Moje recepty</a></li>
          <li><a class="dropdown-item" th:href="@{/patient/konsultacje}">Moje konsultacje</a></li>
          <li><a class="dropdown-item" th:href="@{/patient}">Moje dane</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" th:href="@{/logout}">Wyloguj</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div th:fragment="scripts">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</html>