<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head (pageTitle='Strona Główna')"/>
<body>

<header th:replace="fragments :: header"></header>

<div class="row justify-content-center" style="height:100vh; margin-right:0px;">
    <div class="col-5 mg-top50">
        <table style="border:2px solid black;">
            <tr style="border: 1px solid black">
                <th>Imię pacjenta</th>
                <th>Nazwisko pacjenta</th>
                <th>Pesel pacjenta</th>
                <th>Typ badania</th>
                <th>Opis</th>
                <th>Status</th>
            </tr>
            <tr data-th-each="x : ${consultations}" style="border: 1px solid black">
                <td data-th-text="${x.pacjentImie}">...</td>
                <td data-th-text="${x.pacjentNazwisko}">...</td>
                <td data-th-text="${x.pacjentPesel}">...</td>
                <td data-th-text="${x.typbadania}">...</td>
                <td data-th-text="${x.opis}">...</td>
                <td data-th-text="${x.status}">...</td>
                <td><a th:href="@{/lekarz/konsultacje/{id}(id=${x.id})}">Edytuj</a></td>
                <br>
            </tr>
        </table>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>
</body>
</html>