<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head (pageTitle='Spis telefonów')"/>
<body>

<header th:replace="fragments :: header"></header>

<div class="row justify-content-center" style="margin-right:0px;">
    <div class="col-7 mg-top50">

        <h3>Centrala</h3>
        <p>7 861-36-00 – do godz. 14.30</p>
        <p>17 861-36-01 – do godz. 14.30</p>

        <h3>Call Center</h3>
        <p>17 861-36-04 – do godz. 19.00</p>
        <p>17 861-36-30 – do godz. 19.00</p>

        <p>17 861-36-59 – do godz. 19.00</p>

        <h3>Rejestracja – Fizykoterapia i Kinezyterapia</h3>
        <p>17 853-89-96</p>
        <h3>Rejestracja – Gastroskopia; Kolonoskopia</h3>
        <p>17 861-36-23</p>
        <p>17 861-36-06</p>
        <h3>Rejestracja – Ginekologia</h3>
        <p>17 861-36-05</p>
        <h3>Informacja/USG – Rejestracja</h3>
        <p>17 850-90-58</p>
        <h3>Rejestracja – Kardiologia</h3>
        <p>17 861-36-14</p>
        <h3>Rejestracja – Laryngologiczna; Diabetologiczna; Dermatologiczna; Preluksacyjna; Endokrynologiczna; Pulmonologiczna; Okulistyczna, Urologiczna</h3>
        <p>17 861-36-30</p>
        <p>17 852-18-08</p>

        <h3>Rejestracja – Medycyna Pracy</h3>
        <p>17 861-36-45</p>
        <h3>Rejestracja – Neurologiczna; Reumatologiczna; Osteoporozy; Rehabilitacyjna dla Dorosłych</h3>
        <p>17 861-36-19</p>
        <h3>Rejestracja – Neurologia Dziecięca</h3>
        <p>17 86 13 612</p>
        <p>17 85 32 679</p>
        <h3>Rejestracja – Ogólna; Chirurgiczna; Ortopedyczna; Wad Postawy</h3>
        <p>17 861-36-21</p>
        <p>17 853-90-44</p>

        <h3>Rejestracja – Ośrodek Wczesnej Interwencji; Poradnia Rehabilitacyjna dla Dzieci</h3>

        <p>17 853-26-79</p>
        <p>17 861-36-12</p>



        <h3>Rejestracja – Poradnia dla Dzieci;</h3>
        <p>17 861-36-26</p>
        <p>17 852-18-09</p>

        <h3>Rejestracja – Psychiatria</h3>
        <p>17 853-89-89</p>
        <h3>Rejestracja – RTG/Densytometria/Mammografia</h3>
        <p>17 861-36-34</p>
        <h3>Rejestracja – Tomografia Komputerowa/Rezonans Magnetyczny</h3>
        <p>17 861-36-41</p>
        <h3>Ksero</h3>
        <p>17 861-36-57</p>
        <h3>Medyczne Laboratorium Diagnostyczne</h3>
        <p>17 861-36-09</p>
        <p>17 853-26-11</p>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>
</body>
</html>